
  /* CSS FOOTER */

  .footer-default{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:white;
   color:black;
   padding-bottom: 10px;
   padding-left: 120px;
  }

  
  .button-standart{
    color: #ffffff ;
    background-color: #165C7D   ;
   }